@media screen {
    #about a {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    #about h2:hover {
        background-color: lightskyblue;
        color: white;
    }

}
@media print { 

    body {
        padding: 0px;
    }

    .tm-main-content {
        padding-top: 0px;
    }

    .tm-sidebar,
    .tm-team-img,
    #about,
    .boxes,
    .img-contact-us,
    #contact,
    .carousel-indicators {
        display: none;
    }

   .tm-banner {
       padding: 0px;
   }

   .flex-item {
       padding: 0;
       text-align: center;
   }

   .flex-item h2 { 
        color: lightskyblue;
        font-size: 2rem;
        text-transform: uppercase;
   }

   .tm-content-box {
    margin : 0;
    padding: 0;
   }

   .tm-footer {
       padding-top: 60px; 
   }

   .tm-team-description-container {
    max-width: 100%;
   }

   .tm-section-description {
       text-align: center;
       font-size: 11px;
   }

   .padding-medium ol {
       list-style-type: none;
       margin-left: 200px;
       margin-right: 200px;
   }

   .padding-medium a {
    color: black;
   }

   .padding-medium h2 {
       color: lightskyblue;
       text-align: center;
   }

   .padding-medium li::first-letter {
       color: lightskyblue;
       font-size: 24px;
   }

   .padding-medium li:nth-child(even) {
       float : right;
       line-height: 1;  
   }

   .padding-medium li:nth-child(odd) {
    line-height: 4;  
   }

   .padding-medium {
       padding: 0;
   }

   }
@page {
       size : A4;
 }